div {
  font-family: IRAN Rounded;
  color: white;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  height: fit-content;
  width: fit-content;

  padding: 15px;
  margin: auto;

  background-color: #e91e63;
  border-radius: 15px;
}
