div {
  font-family: IRAN Rounded;
  font-size: 45px;
  // color: white;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  height: fit-content;
  width: fit-content;

  padding: 15px;
  margin: auto;
  margin-top: 200px;

  // background-color: #e91e63;
  // border-radius: 15px;
}
